  body {
            font-family: 'Poppins', sans-serif;
        }

        /* Navbar style */
        .navbar-custom {
            background: white;
            border-radius: 15px;
            padding: 10px 25px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        }

        /* Hero Section */
        .hero {
            background: url(../asset/nusa-lembongan.jpeg) 
            center/cover no-repeat;
            height: 100vh;
            position: relative;
            color: white;
            padding-top: 20px;
        }

        .hero-overlay {
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%; 
            height: 100%;
            background: rgba(0,0,0,0.45);
            z-index: 1;
        }

        .hero-content {
            position: relative;
            z-index: 2;
            margin-top: 50px;
        }

        .btn-custom {
            border: 2px solid white;
            color: white;
            padding: 8px 20px;
            border-radius: 8px;
            font-weight: 500;
        }

        .btn-custom:hover {
            background: white;
            color: black;
        }

        /* About Section */
        .about-img {
            border-radius: 12px;
            width: 100%;
            object-fit: cover;
        }
